/*-- scss:defaults --*/

$link-color: #2790E8;

$navbar-hl: #2790E8;

$toc-color: #2790E8;
$toc-active-border: #2790E8;
$toc-inactive-border: #EAEAD6;

//https://quarto.org/docs/output-formats/html-themes.html
